gpt2/models
.DS_Store
refactor-test
deepspeare_limericks
deepspeare/trained_model
deepspeare/saved_objects
deepspeare/output
deepspeare/prev
LimGen/saved_objects
deepspeare/deepspeare_results.pickle
play.py
testing*
*.pyc
LimGen/__pycache__/*
*.ipynb



slurm*
